<app-main></app-main>
<main id="itemDiv" role="main">
  <div id="right-bar">
    <div class="bg-light main-title"><br>
      <h2><i class="fas fa-cubes"></i> Manage Items</h2>
      <div class="front-nav-bar">
        <!--Dashboard&ndash;&gt; <b>Items</b>-->
      </div>
    </div>
    <div class="jumbotron dis content-area">

      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-header bg-primary">Item Search</div>
            <div class="card-body">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="selectedItem.code" placeholder="Input Item Code Here"
                       id="itemId" style="margin-bottom: 2%">
                <button class="btn btn-primary" style="margin-bottom: 2%" id="searchbtn">Search</button>
                <input type="text" class="form-control" [(ngModel)]="selectedItem.description" id="txtDescription" style="margin-bottom: 2%">
                <input type="text" class="form-control" [(ngModel)]="selectedItem.unitPrice" id="txtSPrice" style="margin-bottom: 2%">
                <input type="text" class="form-control"  [(ngModel)]="selectedItem.qtyOnHand" id="txtSQty" style="margin-bottom: 2%">
              </div>
              <div class="form-group form-inline">

                &nbsp;&nbsp;&nbsp;
                <!--<select class="form-control">-->
                <!--<option>Name</option>-->
                <!--<option>Item Code</option>-->
                <!--</select>-->
              </div>
            </div>
          </div><br><br>
          <div class="form-action-buttons">
            <div class="btn-group">
              <button type="button" class="btn btn-danger" onclick="deleteItem()">Delete</button>
              <button type="button" class="btn btn-warning" (click)="updateItems()">Edit</button>
              <button type="button" class="btn btn-info">Details</button>
              <button type="button" class="btn btn-success" onclick="ClearFields();">Clear</button>
            </div>
          </div><br><br>

        </div>
        <div class="col-lg-6 menu-button-group">
          <div class="center-on-lg">
            <div class="btn-group">
              <!--<button type="button" class="btn btn-info">New Item</button>-->
              <button type="button" class="btn btn-info nb" data-toggle="modal"
                      data-target="#myModalItem">New Item
              </button>
              <button (click)="getAllItems()" type="button" class="btn btn-warning">View All Items</button>
            </div>
          </div>
        </div><br><br>
        <table id="itemTable" class="table table-bordered">
          <thead class="bg-info">
          <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th> </th>
          </tr>
          </thead>
          <tbody class="bg-light" id="tblitem">
          <tr *ngFor="let itemss of ite" (click)="tableRow_Click_Item(itemss)">
            <td>{{itemss.code}}</td>
            <td>{{itemss.description}}</td>
            <td>{{itemss.unitPrice}}</td>
            <td>{{itemss.qtyOnHand}}</td>
            <td>
              <i (click)="deleteItem(itemss.code)" class="fa fa-trash fa-2x"></i>
              <button style="background-color: red" (click)="deleteItem(itemss.code)"> delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</main>



<div class="modal fade" id="myModalItem" role="dialog">
  <form (ngSubmit)="saveItems()" #frmItem="ngForm">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="mode2">

      <div class="modal-header bg-primary">

        <h4 class="modal-title " style="color: white"><b>New Item</b></h4>

      </div>

      <div class="modal-body">
        <div class="form-group ">


          <!--<label>Code</label>-->

          <!--<input #txtcode id="txtItemId" [(ngModel)]="selectedItem.code" type="text" class="form-control">-->

          <!--<label>Name</label>-->

          <!--<input id="txtItemName" [(ngModel)]="selectedItem.description" type="text" class="form-control">-->


          <!--<label>Price</label>-->
          <!--<input id="txtItemPrice" [(ngModel)]="selectedItem.unitPrice" type="text" class="form-control">-->

          <p>Item Code
            <input #txtcode name="txtId" [(ngModel)]="selectedItem.code" class="form-control" type="text">
          </p>

          <p> Item Discription
            <input name="txtName" class="form-control" type="text" [(ngModel)]="selectedItem.description">
          </p>

          <p>Price
            <input name="txtAddress" class="form-control" type="text" [(ngModel)]="selectedItem.unitPrice">
          </p>

          <p>Quantity
            <input name="txtAddress" class="form-control" type="text" [(ngModel)]="selectedItem.qtyOnHand">
          </p>

          <!--<label>Quantity</label>-->
          <!--<input id="txtItemQty" [(ngModel)]="selectedItem.qtyOnHand" type="text" class="form-control">-->

        </div>
        <div class="form-group ">


        </div>
      </div>
      <div class="modal-footer">


        <button  type="submit" class="btn btn-success" id="btnsaveitem"><b>Save</b></button>

        <!--<button type="button" class="btn btn-primary" id="btnloaditem"><b>Add</b></button>-->

        <button type="button" class="btn btn-danger" data-dismiss="modal"><b>Close</b></button>
      </div>

    </div>

  </div>
    `</form>
</div>
